.back-lock {
  background-color: #363C45;
  width: 100%;
  min-height: 100vh;
}

.back-lock::after {
  content: "";
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-image: url("../../../assets/image/NlfTvm.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 420px;
  background-color: #252323;
  margin: 0 auto;
  color: #d3f3ca;
}

.container__block-second {
  width: 100%;
  min-height: 100vh;
  background-color: inherit;
  padding: 15px;
  position: relative;
  z-index: 555;
}

p {
  text-align: center;
}

.container__login-mail {
  position: relative;
}

.uil-file::before,
.uil-user-exclamation::before {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

.uil-home {
  font-size: 20px;
  margin-right: 10px;
}

.container__back-home {
  display: inline-flex;
  text-align: center;
  align-items: flex-end;
}

.container__back-home:hover {
  cursor: pointer;
}

#container__login-name__input,
#container__login-second-name__input,
#container__login-file__input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin: 15px 0;
  padding: 0 32px;
  background-color: #333333;
  color: white;
}

/* .tt input{
    display: none;
} */
#container__login-file__input {
  cursor: pointer;
}

.container__form {
  margin-bottom: 20px;
}

/* .container__block-color {
    margin: 20px 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.container__change-color {
    display: flex;
    justify-content: space-around;
}
 */
/* .container__color_profile-1 {
    background-color: $btn-log-color;
}

.container__color_profile-2 {
    background-color: $btn-log-color-lime;
}

.container__color_profile-3 {
    background-color: $btn-log-color-blue;
}

.container__color_profile-4 {
    background-color: $btn-log-color-violet;
} */
.container__block-data {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}

.container__change-color,
.container__sort,
.container__history {
  display: block;
  position: relative;
  height: auto;
  width: inherit;
  padding: 20px;
}

.container__change-color ul,
.container__sort ul,
.container__history ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

ul li {
  color: #AAAAAA;
  position: relative;
  float: left;
  width: 33.3333333333%;
  margin: 10px;
}

ul li input[type=radio] {
  position: absolute;
  visibility: hidden;
}

ul li label {
  display: block;
  position: relative;
  width: 100%;
  height: 40px;
  z-index: 9;
  cursor: pointer;
  transition: all 0.25s linear;
  line-height: 40px;
  padding-left: 50px;
}

ul li:hover label {
  color: #FFFFFF;
}

ul li .btn__color_profile,
ul li .check {
  display: block;
  position: absolute;
  border: 5px solid #AAAAAA;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  top: 0;
  left: 5px;
  z-index: 5;
  transition: border 0.25s linear;
}

ul li .container__color_profile-1 {
  border: 5px solid rgb(239, 80, 19);
}

ul li .container__color_profile-2 {
  border: 5px solid #7CFC00;
}

ul li .container__color_profile-3 {
  border: 5px solid rgb(36, 183, 173);
}

ul li .container__color_profile-4 {
  border: 5px solid rgb(239, 19, 48);
}

input[type=radio]:checked ~ .container__color_profile-1 {
  border: 5px solid rgb(239, 80, 19);
}

input[type=radio]:checked ~ .container__color_profile-1::before {
  background: rgb(239, 80, 19);
}

input[type=radio]:checked ~ .container__color_profile-2 {
  border: 5px solid #7CFC00;
}

input[type=radio]:checked ~ .container__color_profile-2::before {
  background: #7CFC00;
}

input[type=radio]:checked ~ .container__color_profile-3 {
  border: 5px solid rgb(36, 183, 173);
}

input[type=radio]:checked ~ .container__color_profile-3::before {
  background: rgb(36, 183, 173);
}

input[type=radio]:checked ~ .container__color_profile-4 {
  border: 5px solid rgb(239, 19, 48);
}

input[type=radio]:checked ~ .container__color_profile-4::before {
  background: rgb(239, 19, 48);
}

ul li:hover .btn__color_profile,
ul li:hover .check {
  border: 5px solid #FFFFFF;
}

ul li .btn__color_profile::before,
ul li .check::before {
  display: block;
  position: absolute;
  content: "";
  border-radius: 100%;
  height: 20px;
  width: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 5px solid rgb(239, 80, 19);
}

input[type=radio]:checked ~ .check::before {
  background: rgb(239, 80, 19);
}

input[type=radio]:checked ~ label {
  color: rgb(239, 80, 19);
}

.A102 input[type=radio]:checked ~ .check {
  border: 5px solid #7CFC00;
}

.A102 input[type=radio]:checked ~ .check::before {
  background: #7CFC00;
}

.A102 input[type=radio]:checked ~ label {
  color: #7CFC00;
}

.A103 input[type=radio]:checked ~ .check {
  border: 5px solid rgb(36, 183, 173);
}

.A103 input[type=radio]:checked ~ .check::before {
  background: rgb(36, 183, 173);
}

.A103 input[type=radio]:checked ~ label {
  color: rgb(36, 183, 173);
}

.A104 input[type=radio]:checked ~ .check {
  border: 5px solid rgb(239, 19, 48);
}

.A104 input[type=radio]:checked ~ .check::before {
  background: rgb(239, 19, 48);
}

.A104 input[type=radio]:checked ~ label {
  color: rgb(239, 19, 48);
}

.container__login-singIn-registration-btn {
  /* text-align: center; */
  display: flex;
  justify-content: space-around;
}

.container__login-singIn-registration-btn p {
  color: #535353;
}

.container__login-singIn-with,
.container__login-registration {
  width: 150px;
  border-radius: 18px;
  border: none;
  outline: none;
  background-color: #333333;
  height: 40px;
  color: white;
  position: relative;
  margin: 15px 0;
  padding-left: 25px;
}

.A101 .container__login-singIn-with:hover,
.A101 .container__login-registration:hover {
  box-shadow: 0 0 4px 4px rgb(239, 80, 19);
}

.A102 .container__login-singIn-with:hover,
.A102 .container__login-registration:hover {
  box-shadow: 0 0 4px 4px #7CFC00;
}

.A103 .container__login-singIn-with:hover,
.A103 .container__login-registration:hover {
  box-shadow: 0 0 4px 4px rgb(36, 183, 173);
}

.A104 .container__login-singIn-with:hover,
.A104 .container__login-registration:hover {
  box-shadow: 0 0 4px 4px rgb(239, 19, 48);
}

.A101 .container__login-singIn-with:active,
.A101 .container__login-registration:active {
  box-shadow: 0 0 1px 1px rgb(239, 80, 19);
  color: rgb(239, 80, 19);
}

.A102 .container__login-singIn-with:active,
.A102 .container__login-registration:active {
  box-shadow: 0 0 1px 1px #7CFC00;
  color: #7CFC00;
}

.A103 .container__login-singIn-with:active,
.A103 .container__login-registration:active {
  box-shadow: 0 0 1px 1px rgb(36, 183, 173);
  color: rgb(36, 183, 173);
}

.A104 .container__login-singIn-with:active,
.A104 .container__login-registration:active {
  box-shadow: 0 0 1px 1px rgb(239, 19, 48);
  color: rgb(239, 19, 48);
}

.uil-sign-out-alt::before {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
  font-size: 25px;
}

@media (max-width: 390px) {
  .container__change-color,
  .container__sort,
  .container__history {
    padding: 0;
  }
  .container__change-color li,
  .container__history li {
    margin: 10px 0;
    font-size: 13px;
    width: 28.5714285714%;
  }
}/*# sourceMappingURL=settings-profile.component.css.map */