//login/register page
$btn-log-color: rgb(239 80 19);

/* $btn-log-color: var(--testcolor); */
$btn-log-color-lime:#7CFC00;
$btn-log-color-blue:rgb(36 183 173);
$btn-log-color-violet:rgb(239, 19, 48);
$text-input-color: #535353;
$text-input-light-color: #FFFF;
$text-task-light-color: #d3f3ca;
$text-text-dark-color: #333333;
$input-color: #333333;
$back-color-app: #252323;
$image-back: '../../../assets/image/NlfTvm.webp';


