@import '../../../assets/base/variables/variable.scss';


.back-lock {
    background-color: #363C45;
    width: 100%;
    min-height: 100vh;
}

.back-lock::after {
    content: '';
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-image: url($image-back);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

$width-person-info: 420px;

.container {
    max-width: $width-person-info;
    min-height: 100vh;
    background-color: $back-color-app;
    margin: 0 auto;
    color: $text-task-light-color;
    position: relative;
    padding-bottom: 60px;
    z-index: 555;
}

.container__head {
    height: 200px;
    width: 100%;
    max-width: $width-person-info;
    background-color: rgb(86 85 85 / 85%);
    border-radius: 0 0 15px 15px;
    position: fixed;
    z-index: 1;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container::after {
    content: '';
    height: 80px;
    width: 80px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    transform: rotateZ(40deg);
    right: 100px;
    top: -29px;
    box-shadow: rgb(255, 255, 255) 22px 22px 30px 40px;
}

.container__head-block h1 {
    width: 100%;
    text-align: center;
    position: relative;
}


.container__head-block {
    display: flex;
    align-items: center;
}

.uil-sliders-v,
.uil-signout {
    font-size: 20px;

}

.container__person-img {
    height: 50px;
    width: 50px;
    border-radius: 50% 10% 50% 50%;
    background-color: $text-task-light-color;
    overflow: hidden;
    margin-right: 10px;
}

.container__person-img img {
    width: 100%;
}

.container__person {
    display: flex;
    margin: 10px 0;
}

.container__person-name p {
    font-weight: 700;
}

.container_person-statistics {
    background-color: inherit;
    color: $text-task-light-color;
    outline: none;
    border: 2px solid $btn-log-color;
    border-radius: 15px;
    padding: 2px 20px;
    margin: 9px auto;
}
.container_person-statistics{
    border-color: #fff;
}

.container__week {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    line-height: 15px;
}

.container__week-day span {
    font-size: 10px;
}

.container__week-day p {
    font-weight: 700;
}

.container__week-day {
    width: calc(100%/8);
    border: 1px solid $text-task-light-color;
    border-radius: 10px;
    padding: 17px 2px;
    
}

.container__week-day:hover {
    border: none;
    background-color: $btn-log-color;
    color: $text-text-dark-color;
    cursor: pointer;
}
.A102 .container__week-day:hover {
    background-color: $btn-log-color-lime;
}
.A103 .container__week-day:hover {
    background-color: $btn-log-color-blue;
}
.A104 .container__week-day:hover {
    background-color: $btn-log-color-violet;
}

//container body
.container__body {
    padding: 10px 15px;
    padding-top: 200px;
    position: relative;
}

.container__block-task:nth-child(2n) .container__task {
    background-color: $input-color;
}

.container__block-task:nth-child(2n+1) .container__task {
    color: $text-text-dark-color;
}

.A101:nth-child(2n) .container__task::after {
    background-color: $btn-log-color;
}
.A102:nth-child(2n) .container__task::after {
    background-color: $btn-log-color-lime;
}
.A103:nth-child(2n) .container__task::after {
    background-color: $btn-log-color-blue;
}
.A104:nth-child(2n) .container__task::after {
    background-color: $btn-log-color-violet;
}

.container__edit,
.container__task {
    background-color: $text-task-light-color;
    margin: 5px 0;
    border-radius: 20px;
    position: relative;
    padding: 10px 10px 10px 20px;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    transition: 2s;
}

.container__edit::after,
.container__task::after {
    content: '';
    height: 60%;
    width: 3px;
    background-color: $back-color-app;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
    border-radius: 15px;
}

//add task btn


.uil-plus {
    color: $text-task-light-color;
    font-size: 40px;
}


.container__add-btn {
    position: fixed;
    top: calc(100vh - 60px);
    left: 50%;
    transform: translate(-50%, 0);
    border: none;
    outline: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: $btn-log-color;
}
//edit btn
.container__block-task:nth-child(2n+1) .uil-edit{
    color: $input-color;
}
.A101:nth-child(2n) .uil-edit{
    color: $btn-log-color;
}
.A102:nth-child(2n) .uil-edit{
    color: $btn-log-color-lime;
}
.A103:nth-child(2n) .uil-edit{
    color: $btn-log-color-blue;
}
.A104:nth-child(2n) .uil-edit{
    color: $btn-log-color-violet;
}

.uil-trash,
.uil-cancel,
.uil-save,
.uil-edit{
    background-color: inherit;
    border: none;
    outline: none;
    margin-right: 7px;
    font-size: 22px;
    cursor: pointer;
}
.uil{
    cursor: pointer;
}
//checkbox btn
.toggler-wrapper {
    display: block;
    width: 35px;
    height: 17px;
    cursor: pointer;
    position: relative;
}

.toggler-wrapper input[type="checkbox"]{
    display: none;
}
.toggler-wrapper{
    margin-left: 7px;
}
.A101:nth-child(2n) .toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
    background-color: $btn-log-color;
}
.A102:nth-child(2n) .toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
    background-color: $btn-log-color-lime;
}
.A103:nth-child(2n) .toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
    background-color: $btn-log-color-blue;
}
.A104:nth-child(2n) .toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
    background-color: $btn-log-color-violet;
}

.container__block-task:nth-child(2n+1) .toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
    background-color: $input-color;
}

.toggler-wrapper .toggler-slider {
    background-color: #ccc;
    position: absolute;
    border-radius: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
    position: absolute;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.toggler-wrapper.style-1 input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
    left: calc(100% - 12px - 3px);
}

.toggler-wrapper.style-1 .toggler-knob {
    width: calc(17px - 6px);
    height: calc(17px - 6px);
    border-radius: 50%;
    left: 3px;
    top: 3px;
    background-color: #fff;
}
//block edit
#edit-text{
    resize: none;
    border: none;
    outline: none;
    background-color: inherit;
    width: 100%;
    height: 50vh;
}
.container__block-edit{
    position: fixed;
    top: 0;
    transform: translate(-15px,0);
    width:$width-person-info ;
    height: 0;
    z-index: 999;
    background-color: #363c4581;
    padding: 0 15px;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: 0.6s;
}
.container__edit{
    width: 100%;
    align-items: normal;
    transform: rotateX(270deg);
}
.container__edit-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.uil-trash,
.uil-cancel,
.uil-save{
    font-size: 30px;
}
.container__text-task{
    width: 100%;
}

//btn data
.container__data-btn{
    width: 130px;
    margin: 0 calc(50% - 65px);
    background-color: inherit;
    border-radius: 10px;
    padding: 5px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}
//text line

.text_line{
    text-decoration:line-through;
}

@media (max-width: 350px) {
    .container__person-name h2{
        font-size: 18px;
    }
    .container__person-name p{
        font-size: 13px;
    }
}

